---
import ContactOptions from '../../components/contact-options.astro';
import Footer from '../../components/footer.astro';
import Header from '../../components/header.astro';
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Anas">
	<div class="max-w-[1200px] mx-auto">
		<Header/>

		<iframe src="https://contact-anas.vercel.app/?type=project" frameborder="0" class="w-full min-h-[500px]">
		</iframe>
	</div>
	<div class="h-40"></div>
	<Footer/>
</Layout>

<script>

</script>

