



<div class="w-full min-h-[500px] flex flex-wrap gap-4 justify-between items-center p-4">
    <div class="max-w-[500px] flex flex-col gap-4">
        <h1 class="text-3xl font-serif text-gray-700 font-semibold"> I Can Help <span class="font-accent text-5xl text-yellow-500">You</span></h1>
        <p class="text-2xl font-serif text-gray-700">
            Whether you need a site for your brand or trying to build the next unicorn, I can be an asset to your mission.
        </p>
        <div class=" p-4 rounded-lg bg-white ring-2 ring-gray-500 shadow-2xl hover:ring-yellow-500 hover:scale-105 duration-100">
            <a href="/contact/project" class="">
                <p class="font-serif text-2xl font-medium text-gray-700">
                    A Project In Mind?
                </p>
                <p class="font-serif text-sm font-medium text-gray-700">
                    Wheather you need a website for your brand or trying to build the next unicorn, I can help.
                </p>
            </a>
        </div>
    </div>

    <div class="max-w-[600px]">
        <h1 class="text-3xl text-gray-600 font-accent mb-4">Tech I Use...and love</h1>
        <div class="flex flex-wrap gap-4 ">
            <div class="">
                <img src="/react.svg" alt="">
            </div>
            <div class="">
                <img src="/svelte.svg" alt="">
            </div>
            <div class="">
                <img src="/figma.svg" alt="">
            </div>
            <div class="">
                <img src="/11ty.svg" alt="">
            </div>
            <div class="">
                <img src="/tailwind.svg" alt="">
            </div>
            <div class="">
                <img src="/astro.svg" alt="">
            </div>
            <div class="">
                <img src="/nextjs.svg" alt="">
            </div>
            <div class="">
                <img src="/node-js.svg" alt="">
            </div>
        </div>
    </div>
</div>
