---
import ContactOptions from "./contact-options.astro";
import Face from "./face.astro";

---

<div class="min-h-screen w-full flex flex-wrap justify-between items-center  p-4">

    <div class="mb-4 flex-1">
        <h1 class="font-accent text-8xl font-bold text-yellow-500">Hello</h1>
        <p class="font-serif text-6xl font-medium text-gray-700 capitalize">We are in the business of building dream web experiences.</p>
    </div>
    <div class="order-first md:order-none flex justify-center mb-4">
        
    </div>
    <ContactOptions/>

</div>

<style>
    .card-shadow{
        -webkit-box-shadow: -2px 33px 49px 1px rgba(168,168,168,1);
        -moz-box-shadow: -2px 33px 49px 1px rgba(168,168,168,1);
        box-shadow: -2px 33px 49px 1px rgba(168,168,168,1);
    }
</style>