---
import Face from "./face.astro";

let status = 'available'
---

<div class="group relative ">
    <div class="flex gap-2 items-center p-2 rounded-md bg-gray-200">
        <span class="text-gray-600">
            Status
        </span>
        <div class="w-5 h-5 bg-green-500 rounded-full">

        </div>
    </div>
    <div class="absolute right-0 top-12 p-4 bg-gray-50 border rounded-md w-[200px] shadow-lg transition-all duration-300 invisible group-hover:visible translate-y-1 group-hover:-translate-y-1">
        <p class="text-gray-700">
            Currently killing it at college but I'm very much available.
        </p>
        <a href="/contact" class=" font-accent text-yellow-500 font-semibold underline">Let's Chat!</a>
    </div>
</div>